<!-- ko if:isShowNotificationBar() -->
<div role="alertdialog" tabindex="-1" class="amgdprcookie-bar-container" data-amcookie-js="bar" afterRender="detectScroll.bind($data)">
    <div class="amgdprcookie-bar-block">
        <h2 class="amgdprcookie-title" data-bind="i18n: titleText"></h2>
        <p class="amgdprcookie-policy" data-bind="html: policyText"></p>
        <div class="amgdprcookie-buttons-block">
            <button class="amgdprcookie-button -settings"
                    data-bind="text: $t('Personalize'),
                               attr: {
                                    title: $t('Personalize'),
                                    'aria-label': $t('Personalize')
                                    },
                               click: allowCookies, click: openModal">
            </button>
            <button class="amgdprcookie-button -allow"
                    data-bind="text: $t('Accept all'),
                            attr: {
                                    title: $t('Accept all'),
                                    'aria-label': $t('Accept all')
                                    },
                            click: allowCookies">
            </button>
        </div>
    </div>
</div>
<!-- /ko -->
<!-- ko if: $data.elems().length -->
    <!-- ko foreach: $data.elems() -->
        <!--ko template: getTemplate()--><!-- /ko -->
    <!-- /ko -->
<!-- /ko -->
