<div role="alertdialog" tabindex="-1" class="amgdprcookie-bar-container" data-amcookie-js="bar">
    <div class="amgdprcookie-bar-block">
        <h2 class="amgdprcookie-title"><%= data.titleText %></h2>
        <p class="amgdprcookie-policy"><%= data.policyText %></p>
        <div class="amgdprcookie-buttons-block">
            <% _.each(data.buttons, function(button) { %>
            <button class="amgdprcookie-button <%= button.class %>" disabled data-amgdprcookie-js="<%= button.dataJs %>"><%= button.label %></button>
            <% }); %>
        </div>
    </div>
</div>
