<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\GdprCookie\Block\Widget\Settings" type="Wetrust\GdprCookie\Block\Widget\Settings" />
    <preference for="Amasty\GdprCookie\Model\ConfigProvider" type="Wetrust\GdprCookie\Model\ConfigProvider" />
    <preference for="Amasty\GdprCookie\Model\Layout\Utils\CommonJsLayout" type="Wetrust\GdprCookie\Model\Layout\Utils\CommonJsLayout" />
    <preference for="Amasty\GdprCookie\Model\Layout\PopupClassic" type="Wetrust\GdprCookie\Model\Layout\PopupClassic" />
    <preference for="Amasty\GdprCookie\Controller\Cookie\SaveGroups" type="Wetrust\GdprCookie\Controller\Cookie\SaveGroups" />
</config>
