<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_GdprCookie
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_gdprcookie">
            <group id="cookie_policy">
                <field id="disable_settings" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable Settings That Are Not Used?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="cookie_bar_customisation">
                    <field id="title_text_general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Title Text Main</label>
                    </field>
                    <field id="notification_text_general" translate="label comment" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Text Main</label>
                        <comment>You can use any HTML-tags in this field. Please, mind the security.</comment>
                    </field>
                    <field id="title_text_custom" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Title Text Personalize</label>
                    </field>
                    <field id="notification_text_custom" translate="label comment" type="textarea" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Text Personalize</label>
                        <comment>You can use any HTML-tags in this field. Please, mind the security.</comment>
                    </field>
            </group>
        </section>
    </system>
</config>
